@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse flex-column-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <img src="img/trabalho-de-escritorio.jpg" class="d-block mx-lg-auto img-fluid rounded-1" alt="Bootstrap Themes"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Crie seu currículo em apenas alguns
                minutos
            </h1>
            <p class="lead">Preencha seus dados pessoais e profissionais. Depois, é só fazer download.</p>

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Curriculos/Create" class="btn btn-custom btn-lg w-100 mb-2">Criar Currículo</a>
                    <a href="/Curriculos" class="btn btn-custom btn-lg w-100 mb-2">Meus Currículos</a>
                    var perfilClaim = User.FindFirst(ClaimTypes.Role);
                    var userPerfil = perfilClaim != null ? perfilClaim.Value : "";

                    if(userPerfil == "Empresa")
                    {
                        <a class="btn btn-custom btn-lg w-100" asp-controller="/Curriculos" asp-action="Find">Procurar Currículos</a>
                    }
                }
                else
                {         
                }
            </div>
        </div>
    </div>
</div>

